<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF" monitorInterval="1800">
	 <appenders>  
        <Console name="consolePrint" target="SYSTEM_OUT">  
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />  
        </Console>  
    </appenders>  
    <loggers>  
        <!-- 将业务dao接口填写进去,并用控制台输出即可 -->  
        <logger name="com.dfyoi.admin.mapper" level="DEBUG" additivity="false">  
            <appender-ref ref="consolePrint"/>  
        </logger>  
  
        <root level="info">  
            <appender-ref ref="consolePrint" />  
        </root>  
    </loggers>  
</configuration>