<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dfyoi.admin.mapper.SysPersonMapper">
	<resultMap id="BaseResultMap" type="SysPerson">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="INTEGER" />
		<result column="nation" property="nation" jdbcType="VARCHAR" />
		<result column="dob" property="dob" jdbcType="DATE" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="idCard" property="idCard" jdbcType="VARCHAR" />
		<result column="educational" property="educational" jdbcType="VARCHAR" />
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="zipCode" property="zipCode" jdbcType="VARCHAR" />
		<result column="post" property="post" jdbcType="VARCHAR" />
		<result column="descr" property="descr" jdbcType="VARCHAR" />
		<result column="deptId" property="deptId" jdbcType="INTEGER" />
		<result column="deptName" property="deptName" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, sex, nation, dob, address, idCard, educational,
		mobile, email,
		zipCode,
		post, descr,deptId,deptName
	</sql>
	<select id="getPersonById" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from sysperson
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="removeById" parameterType="java.lang.Integer">
		delete from sysperson
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="SysPerson">
		insert into sysperson (id,
		name, sex, nation,
		dob, address, idCard,
		educational, mobile, email,
		zipCode, post, descr,deptId,deptName
		)
		values (#{id,jdbcType=INTEGER},
		#{name,jdbcType=VARCHAR},
		#{sex,jdbcType=INTEGER},
		#{nation,jdbcType=VARCHAR},
		#{dob,jdbcType=DATE},
		#{address,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR},
		#{educational,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR},
		#{email,jdbcType=VARCHAR},
		#{zipCode,jdbcType=VARCHAR},
		#{post,jdbcType=VARCHAR}, #{descr,jdbcType=VARCHAR},
		#{deptId,jdbcType=INTEGER},#{deptName,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="SysPerson">
		insert into sysperson
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="sex != null">
				sex,
			</if>
			<if test="nation != null">
				nation,
			</if>
			<if test="dob != null">
				dob,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="idCard != null">
				idCard,
			</if>
			<if test="educational != null">
				educational,
			</if>
			<if test="mobile != null">
				mobile,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="zipCode != null">
				zipCode,
			</if>
			<if test="post != null">
				post,
			</if>
			<if test="descr != null">
				descr,
			</if>
			<if test="deptId != null">
				deptId,
			</if>
			<if test="deptName != null">
				deptName,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				#{sex,jdbcType=INTEGER},
			</if>
			<if test="nation != null">
				#{nation,jdbcType=VARCHAR},
			</if>
			<if test="dob != null">
				#{dob,jdbcType=DATE},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="idCard != null">
				#{idCard,jdbcType=VARCHAR},
			</if>
			<if test="educational != null">
				#{educational,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null">
				#{mobile,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="zipCode != null">
				#{zipCode,jdbcType=VARCHAR},
			</if>
			<if test="post != null">
				#{post,jdbcType=VARCHAR},
			</if>
			<if test="descr != null">
				#{descr,jdbcType=VARCHAR},
			</if>
			<if test="deptId != null">
				#{deptId,jdbcType=INTEGER},
			</if>
			<if test="deptName != null">
				#{deptName,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="SysPerson">
		update sysperson
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				sex = #{sex,jdbcType=INTEGER},
			</if>
			<if test="nation != null">
				nation = #{nation,jdbcType=VARCHAR},
			</if>
			<if test="dob != null">
				dob = #{dob,jdbcType=DATE},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="idCard != null">
				idCard = #{idCard,jdbcType=VARCHAR},
			</if>
			<if test="educational != null">
				educational = #{educational,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null">
				mobile = #{mobile,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="zipCode != null">
				zipCode = #{zipCode,jdbcType=VARCHAR},
			</if>
			<if test="post != null">
				post = #{post,jdbcType=VARCHAR},
			</if>
			<if test="descr != null">
				descr = #{descr,jdbcType=VARCHAR},
			</if>
			<if test="deptId != null">
				deptId = #{deptId,jdbcType=INTEGER},
			</if>
			<if test="deptName != null">
				deptName = #{deptName,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateById" parameterType="SysPerson">
		update sysperson
		set name =
		#{name,jdbcType=VARCHAR},
		sex = #{sex,jdbcType=INTEGER},
		nation =
		#{nation,jdbcType=VARCHAR},
		dob = #{dob,jdbcType=DATE},
		address =
		#{address,jdbcType=VARCHAR},
		idCard = #{idCard,jdbcType=VARCHAR},
		educational = #{educational,jdbcType=VARCHAR},
		mobile =
		#{mobile,jdbcType=VARCHAR},
		email = #{email,jdbcType=VARCHAR},
		zipCode =
		#{zipCode,jdbcType=VARCHAR},
		post = #{post,jdbcType=VARCHAR},
		descr =
		#{descr,jdbcType=VARCHAR},
		deptId = #{deptId,jdbcType=INTEGER},
		deptName = #{deptName,jdbcType=VARCHAR}
		where id =
		#{id,jdbcType=INTEGER}
	</update>
	<select id="listByPara" resultMap="BaseResultMap">
		select * from SysPerson
		<where>
			<if test="deptId != null and deptId!=0">
				deptId=#{deptId}
			</if>
			<if test="personName != null and personName!=''">
				and name like concat(concat('%',#{personName}),'%')
			</if>
			<if test="personSex != null and personSex!=''">
				and sex=#{personSex}
			</if>
		</where>
		<!-- order by id -->
	</select>
</mapper>